.car {
	margin-bottom: 20px;
	background-color: #2c3333;
	transition: border 0.3s;
}

.car:hover {
	margin-bottom: 20px;
	background-color: #2c3333;
	border: 1px solid #cbe4de;
}
.title {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 0;
}
.description {
	color: #fff;
	margin-top: 10px;
	font-size: 0.88rem;
	margin-bottom: 0;
}
