.header {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 15px;
	overflow: hidden;
	position: relative;
}
.headerImage {
	background-color: #cdcdcd;
	background-size: 110%;
	position: absolute;
	top: -5%;
	bottom: -5%;
	left: -5%;
	right: -5%;
	z-index: -1;
}
